*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #2c2b2b;
    font-family: 'Lato', sans-serif; 
    font-size: 22px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
section{
  padding: 80px 0;
    
}
h1,h2,h3{
  
    
    font-weight: 300;
    text-transform: uppercase;
   
}
h1{
    font-size: 40px;
     margin-top: 0;
     color: #fff;
     letter-spacing: 1px;
     word-spacing: 3px;
}
h2{
    font-size: 30px;
    text-align: center;
    word-spacing: 2px;
/*    margin: 20px 20px;*/
    margin-bottom: 20px;
     word-spacing: 2px;
}
h2:after{
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    background-color:#f49500;
    margin: 0 auto;
    margin-top: 20px;
}
h3{
    font-size: 25px;
    display: block;
}
header{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(img/bu1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.main-header {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn:link, 
.btn:visited{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
/*    text-transform: uppercase;*/
    border-radius: 200px;
    transition: background-color: 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #f49500;
    border: 1px solid #f49500;
}
.btn-full:hover,
.btn-full:active{
    background-color: #c48726;
}


.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #f49500;
    color: #f49500; 
}
.btn-ghost:hover,
.btn-ghost:active{
 background-color: #f49500;
 color: #fff;
}


.logo {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 40px;
}

.main-navs {
    float: right;
    list-style: none;
    margin-top:30px;
}
.main-navs li{
    display: inline-block;
    margin-left: 40px;
   
}
.main-navs li a:link,
.main-navs li a:visited{
    font-size: 90%;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom:2px solid transparent; 
    transition: border-bottom:0.2s; 
}
.main-navs li a:hover,
.main-navs li a:active{
    border-bottom: 2px solid #f49500;
}
.icon-big {
    font-size:50px;
    display: block;
    color: #f49500;
   
}

.long-copy {
/*    letter-spacing: 100%;*/
/*    text-align: center;*/
/*
    width: 70%;
    margin-left: 25%;
*/
    text-align: center;
    font-size:90%;
    line-height: 145%;
    
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.woks-done {
    list-style: none;
    width: 100%;
   
}
.woks-done li{
    display: block;
    width: 25%;
    float: left;
     overflow: hidden;
     background-color: #000;
}
.photo img{
    width: 100%;
   transition: transform 0.2s;
    opacity: 0.7;
    transform: scale(1.03);
}
.photo img:hover{
    transform: scale(1);
}
.works {
    margin:0;
    padding: 0;
}

.step div {
    color:#f49500;
    padding: 10px;
    margin-left: 0;
    height: 55px;
    width: 55px;
    border-radius:50%;
    text-align: center;
    border: 2px solid #f49500;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.const-app {
width: 100%;  
}


.step-box:first-child {
    padding-right: 2%;
    margin-top: 20px;
}
.step-box:last-child{
    padding-left: 2%;
    float: left;
    margin-top: 50px;
}

.section-steps {
    background-color: #e5e6df;
}
cite{
    display: block;
    
}
.profile {
    width: 100px;
    border-radius: 50%;
    padding-top: 20px;
}
